<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <title>HN Who's hiring</title>
</head>

<body style="background-color: #42A5F5;">
<nav class="navbar navbar-light navbar-expand-md">
    <div class="container-fluid">
        <a class="navbar-brand" href="/" style="color: rgba(255,255,255,0.9);"><strong>HN Job Tracker</strong></a>
        <a href="/logout"><strong>Logout</strong></a>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-12">
            Welcome, user {{ sub }}
        </div>
    </div>
</div>
</html>