<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <title>HN Who's hiring</title>
</head>

<body>
<nav class="navbar navbar-light navbar-expand-md">
    <div class="container-fluid"><a class="navbar-brand" href="/view"><strong>HN Job Tracker</strong></a>
    </div>
</nav>

<div class="container">
    <div class="row">
        <p>Welcome to Hacker News Job Tracker. <a href="https://news.ycombinator.com/newsguidelines.html">Hacker News</a> is a social website for posting 'anything that gratifies one's intellectual curiosity'</p>
        <p>A regular "Who Is Hiring?" thread appears on the first weekday of each month. Most job ads are welcome there. <a href="https://news.ycombinator.com/newsfaq.html">[FAQ]</a><p>
        <p>This tool ranks job ads by <s>highly advanced natural language processing algorithms</s> searching for buzz words within the text and displays them to the user. The user can then save them for later, apply to them or trash them if they are irrelevant. </p>
        <p>Note: This tool does not apply to the jobs for you. You have to apply to them externally, this tool is just a way to keep track of the job posts.</p>
        <p>Please login using the username/password provided to you.</p>
    </div>
    <div class="row">
        <form method="post">
            <div class="form-group">
                <label for="username">User Name</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Username">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
</body>
</html>