<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <title>HN Who's hiring</title>
</head>

<body style="background-color: #42A5F5;">
<nav class="navbar navbar-light navbar-expand-md">
    <div class="container-fluid"><a class="navbar-brand" href="#" style="color: rgba(255,255,255,0.9);"><strong>HN Job Tracker</strong></a>
    </div>
</nav>

<div class="container">
    <div class="row">
        <form method="post">
            <div class="form-group">
                <label for="password">Enter new password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
            </div>
            <div class="form-group">
                <label for="password">Re-enter password</label>
                <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
</body>
</html>