<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <title>HN Who's hiring</title>
</head>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<body>
<div class="container">
        <div class="row">
            <div class="col">
                <h1 class="display-4 text-center">Hacker News Job Tracker</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>Welcome {{ username }}, you have successfully created an account.<br /></p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>Which type of roles are you looking for? These roles are currently supported - <br /></p>
                <form method="post">
                    <div class="card-deck">
                        {% for role in role_groups %}
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">
                                            <input type="radio"  id="{{ role.role_group_id }}" name="role_group_selector" class="form-check-input" value="{{ role.role_group_id }}" required/>
                                        {{ role.role_group_name }}
                                    </h4>
                                    <h6 class="text-muted card-subtitle mb-2">{{ role.buzz_words }}</h6>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
</div>
</body>
</html>